#sideNavigation {
  height: 100%;
}

.side-nav-menu {
  height: 1024px;
  border: none;
}
.logo {
  text-align: center;
  margin-top: 31px;
  margin-bottom: 35px;
}
.logo > span {
  width: 114px;
  height: 28px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #969696;
}
.el-menu-item {
  padding-top: 10px;
  text-align: center;
  width: 228px;
  height: 84px;
}
.el-menu-item > span {
  width: 138px;
  height: 28px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #000000;
}
.el-menu-item:hover {
  background-color: #a4d4f6;
}
.el-menu-item:hover > span {
  color: #1974e8;
  background-color: none;
}
